.scroll {
    margin-top: 3%;
    max-height: 470px;
    overflow-y: scroll;
    width: 30%;
    margin-left: 35%;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.scroll {
    scrollbar-color: #000000 #ffffff;
}

.add-modal {
    margin-left: auto;
    margin-right: auto;
}


@media (max-width:480px) {
    .navbar-middle {
        margin-left: 0;
    }
}

@media (min-width:1025px) {
    .navbar-middle {
        margin-left: 25%;
    }

    .search_bar {
        width: 28rem;
    }

}